
  body{
    margin: 0px !important;
  }

  .hiddeneye{
    position: absolute;
    right: 0px;
    bottom: 10px;
}


  
   .eye{
    position: absolute;
    bottom: 10px;
    right: 0px;
   }
  .login-card{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 400px;

  }
  
  .pull-right{
    float: right;
  }
  .p-relative{
    position: relative;
  }
  .text-center{
    text-align: center;
  }
  .text-right{
    text-align: right;
  }
  .example-full-width{
    width: 100%;
  }
  .mt-15{
    margin-top: 15px;
  }
  .rememberme{
    align:center;
  }
  .showpasswordicon{
    font-size: 29px;
    text-align: center;
  }
  .forgotpassword{
    background: lightgray;
  }
  