.image{
    display: inline-block;
}
.content{
    display: inline-block;
    margin-left:50px
}
.nocontent{
    text-align: center;
    margin-top: 100px
}
.allignCenter{
    text-align: center;
    margin-top:100px
}






.border-box{
    border: 1px solid #000;
    border-radius: 35px;
    background: #fefefe;
    height: 300px;
    width: 300px;
    margin: 0 auto;
   
}
.thumb{
    cursor: grab;
}

.maindiv{


    text-align: center;
}
.heading-ro{
font-size: 25px;
}
.subheading-ro{
    font-size: 20px;  
}
.rsp {
    text-align: center;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    padding-top: 100px;
    color: #000;
    font-weight: bold;
    text-decoration: none;
  }