
<div>
<div class="container">
    <div class="registeroption">
        <h4 class="heading-ro">Option For Registering</h4>
        <p class="subheading-ro">Register Splash Page</p>
        </div>
    <div class="row" class="maindiv">
      <div class="col-md-4" >
        <div class="border-box" (click)="gotoregistration()"><span class="rsp thumb"> Licensed Financial Advisor</span> </div>
      </div>
      <div class="col-md-4">
          <div class="border-box"><span class="rsp">Investment Professional</span></div>
        </div>
        <div class="col-md-4">
            <div class="border-box"> <span class="rsp">Assest Manger</span></div>
          </div>
    </div>
  </div>
</div>
            